//Custom Colors
$primary-color: green;
$primary-color-dim: rgba(0, 163, 0, 0.336);
$secondary-color:green;
$secondary-color-dim:green;
$dull-color:green;
$dull-color-dim:green;

//Colors
$white: white;
$gray: gray;
$light-gray: rgb(197, 197, 197);

//Shades